<div id="header-wrapper">
  <div id="header-limit">

    <div class="show-menu" id="show-menu">
      <a href="javascript:void(0)" onclick="document.getElementById('mobile-menu-show').style.display='block'; document.getElementById('close-menu').style.display='block'; document.getElementById('show-menu').style.display='none'">
        <svg height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
          <path d="M24 6h-24v-4h24v4zm0 4h-24v4h24v-4zm0 8h-24v4h24v-4z"></path>
        </svg>
      </a>
    </div>

    <div id="close-menu">
      <a href="javascript:void(0)" onclick="document.getElementById('mobile-menu-show').style.display='none'; document.getElementById('close-menu').style.display='none'; document.getElementById('show-menu').style.display='block'">
        <svg height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
          <path d="M24 20.188l-8.315-8.209 8.2-8.282-3.697-3.697-8.212 8.318-8.31-8.203-3.666 3.666 8.321 8.24-8.206 8.313 3.666 3.666 8.237-8.318 8.285 8.203z"></path>
        </svg>
      </a>
    </div>

    <div id="header-left">
      <a href="{{ "" | relLangURL }}" id="header-inner">
        <span id="Header1_headerimg">{{ .Site.Title }}</span>
      </a>
    </div>

    <div id="header-right">
      <nav class="blazing-menu" id="blazing-menu" role="navigation">
        <ul class="no-js" id="mobile-menu-show">
          {{ range .Site.Menus.main }}
            {{ if .HasChildren }}
              <li>
                <a href="{{ .URL }}" title="{{ .Title | default .Name }}">
                  {{ if .Pre }}<i aria-hidden="true" class="fa {{ .Pre }}"></i>{{ end }}
                  <span itemprop="name">{{ .Name }}</span>
                  <i aria-hidden="true" class="fa fa-angle-down"></i>
                </a>
                <ul>
                  {{ range .Children }}
                    <li>
                      <a href="{{ .URL }}" itemprop="url" title="{{ .Title | default .Name }}">
                        <span itemprop="name">{{ .Name }}</span>
                      </a>
                    </li>
                  {{ end }}
                </ul>
              </li>
            {{ else }}
              <li>
                <a href="{{ .URL }}" itemprop="url" title="{{ .Title | default .Name }}">
                  {{ if .Pre }}<i aria-hidden="true" class="fa {{ .Pre }}"></i>{{ end }}
                  <span itemprop="name">{{ .Name }}</span>
                </a>
              </li>
            {{ end }}
          {{ end }}
        </ul>
        <div class="clear"></div>
      </nav>

      <div class="right-header" id="right-header">
        <div class="search-icon">
          <div id="show" style="display: block;">
            <button id="search-button" class="smallbutton" aria-label="Search" title="{{ i18n "search.open_button_title" }}">
              <i aria-hidden="true" class="fa fa-search"></i>
            </button>
          </div>
        </div>
        {{ if .Site.Params.footer.showAppearanceSwitcher | default false }}
          <div class="header-appearance">
            <button id="appearance-switcher" aria-label="Dark mode switcher" type="button" class="smallbutton">
              <div class="dark:hidden"><i aria-hidden="true" class="fa fa-moon"></i></div>
              <div class="hidden dark:block"><i aria-hidden="true" class="fa fa-sun"></i></div>
            </button>
          </div>
        {{ end }}
      </div>
    </div>

  </div>
</div>
